<div class="almacen-container">
    <!-- Barra superior -->
    <header class="top-bar">
      <!-- Título en la parte izquierda -->
      <div class="top-bar-title">
        <h1>Sistemas</h1>
      </div>
  
      <!-- Enlaces en la parte derecha -->
      <nav class="top-bar-links">
        <!--<a href="#">Registrar Nuevos Usuarios</a> -->
        <!--<a href="/catalogo">Ver Catalogo</a>-->
        <a href="../login/login.component.html">Salir</a>
      </nav>
    </header>
  
    <!-- Menú lateral y contenido principal -->
    <div class="main-content">
      <!-- Menú lateral -->
      <div class="sidebar">
        <!-- Cabecera del menú -->
        <header class="sidebar-header">
          <!-- Imagen -->
          <img
            src="../../assets/imagenes/Fondos/ServerLogo.jfif"
            alt="Logo"
            class="sidebar-image"
          />
          <!-- Título -->
          <h2 class="sidebar-title">Menú Almacén</h2>
        </header>
  
        <!-- Opciones del menú -->
        <ul class="sidebar-menu">
          <div class="text-center">
            <!-- Enlace Inicio: redirige a la misma página de almacén -->
            <li class="bi bi-house" style="font-size: 2rem;">
              <a href="/sistemas" style="font-size: 1rem;">Inicio</a>
            </li>
            <!-- Enlace Registrar Ventas: redirige a la página de almacén -->
            <li class="bi bi-bag-check-fill" style="font-size: 2rem;">
              <a href="/sistemas" style="font-size: 1rem;"></a>
            </li>
            <!-- Enlace Registrar Embarques: redirige a la página de almacén -->
            <li class="bi bi-file-post" style="font-size: 2rem;">
              <a href="/sistemas" style="font-size: 1rem;"></a>
            </li>
          </div>
        </ul>
      </div>
  
      <!-- Contenido principal -->
      <div class="content">
        <h1>Bienvenido a Sistemas</h1>
        <p>Has iniciado sesión correctamente.</p>
      </div>
    </div>
  </div>