<h1>¿Cómo pensar en el contenido para conquistar visitantes de mi sitio web?</h1>
<p>Independiente del producto o servicio que ofreces, la primera cosa que los visitantes de tu sitio web ven es el contenido.
    De modo que este deberá concordar no solamente con tu negocio, sino también con la identidad de tu marca.
    Una vez tengas toda la infraestructura lista (tu CMS instalado o tu creador de sitios activado) es hora de pensar en el contenido.</p>
<h1>¿Qué tipo de contenido puedo colocar en mi sitio web?</h1>
<p>Contenido es una palabra que abarca tantos componentes dentro de un sitio web, que se vuelve necesario dividirlo entre secciones para organizar la información
    y facilitar la navegación de tus visitantes.
    Antes de comenzar la organización, es importante que tengas en cuenta que le decimos contenido a absolutamente todo lo que contiene tu sitio web, es decir,
    desde los textos, hasta las imágenes, videos, formularios y más.
    Hoy en día existen sitios web de todos los temas, colores, tamaños y estilos. Es gracias a esta libertad que tenemos la oportunidad de crear un sitio web que 
    se acomode a nuestra idea, y sobre todo a nuestro público.
    Por esta razón no es una regla que todos los sitios web tengan las mismas secciones ni el mismo de tipo de información.
    Aquí te presentaremos algunas secciones importantes que facilitarán la experiencia de navegación de los usuarios.</p>